	

	


<!-- Start Section Title -->
<section id="title-page">
		
	<!--
	<div id="options">
	  <ul id="filters" class="span6 offset2 tag-css option-set clearfix" data-option-key="filter">
	    <li><a href="#filter" data-option-value="*" class="selected"><%= @name%></a></li>
	  </ul>
	</div>-->
	<h2>#<%= @name%></h2>
    <span class="arrow"></span>
</section>
<!-- End Section Ttile -->

<%= render :partial => 'shared/post_list' , :locals => { :posts => @posts } %>