
<!-- Start Section Title -->
<section id="title-page">
	<div class="row" style="padding-top:10px; margin-left:37%;">
        <a class=<% if @name=='美文慢读'%>"span1 show-grid activity"<%else%>"span1 show-grid"<%end%> href="/subject/美文慢读"> 美文慢读</a>
        <a class="span1 show-grid" href="/subject/生活感悟"> 生活感悟</a>
        <!--<a class="span1 show-grid" href="/subject/在路上"> 在路上</a>-->
        <a class="span1 show-grid" href="/subject/每日一城"> 每日一城</a>
        <!--<a class="span1 show-grid" href="/subject/杂文随读"> 杂文随读</a>-->
    </div>
    <span class="arrow"></span>
</section>
<!-- End Section Ttile -->		

<%= render :partial => 'shared/post_list' , :locals => { :posts => @posts } %>