
    <!-- Start Section Title -->
    <section id="title-page">
        <!--
        <div class="row" style="padding-top:10px; margin-left:37%;">
            <a class=<% if @name=='美文慢读'%>"span1 show-grid activity"<%else%>"span1 show-grid"<%end%> href="/subject/美文慢读"> 美文慢读</a>
            <a class=<% if @name=='生活感悟'%>"span1 show-grid activity"<%else%>"span1 show-grid"<%end%> href="/subject/生活感悟"> 生活感悟</a>

            <a class=<% if @name=='一座城'%>"span1 show-grid activity"<%else%>"span1 show-grid"<%end%> href="/subject/一座城"> 一座城</a>

        </div>
        <span class="arrow"></span>
        -->
        <h2><%= @name %></h2>
        <span class="arrow"></span>
    </section>
    <!-- End Section Ttile -->  

<%= render :partial => 'shared/post_list' , :locals => { :posts => @posts } %>