<!-- Start Intro Box -->
<section id="intro-box" class="single-post">
  <div class="container">
      <div class="row">
          <div class="span12">
              <h2 class="entry-title">
                关于
              </h2>
                <span class="arrow"></span>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div id="single-team" class="container">
        <!-- Title Page -->
        <div class="row margin-20">
            <div class="offset1 span10">
                <h3>关于 "慢时光 - 精选阅读".</h3>
                
                <p>阅读是一种习惯和生活的态度，随心而往。</p>
                <p>慢时光是希望把阅读聚合在一起，通过相互推荐与分享提升阅读的质量和体验。慢下来，每天看看感兴趣的或者有意思的文章，仅此而已，这也是做慢时光的源动力。<br>
                现在主要是推荐博客的文章经过一定筛选，当前还是以人工为主。接下来想做阅读源扩展和精选能力，关于精选能力有两方面：一是个性化订阅与推荐算法结合，二是通过一定的传播策略控制，类似病毒复制过程，提升阅读质量，控制阅读数量。如果您有任何建议和意见请留言或者通过下面的方式直接联系我们。</p>
                <p>另外若是您的博客文章被收录，却不符合您的期望，可以通过告诉我们，将从抓取逻辑里面排除。</p>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Contact Form -->
        <div class="row margin-50">
            <div class="offset1 span7">
                <h4>留言</h4>
            
                <div class="comments span6 clearfix">
                    <div id="uyan_frame"></div>
                    <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=2710" async=""></script>
                </div>
            </div>
            
            <!-- Contact Details -->
            <div class="span3">
                <div class="contact-details">
                    <h4>联系</h4>
                    <ul>
                        <li><a href="#">slowertime@126.com</a></li>
                        <li>
                            微信:
                            <%= image_tag("weixin_logo.jpg",:id=>'logo')  %>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Contact Details -->
            
        </div>
        <!-- End Contact Form -->
	</div>
</section>
<!-- End Contact Section -->