<br><br><br><br>
<!-- Start Section Portfolio Projects -->
    <section id="portfolio" class="container">
        <div class="row">
        
            <div id="portfolio-projects">
                <ul id="projects">
                
                    <li class="item-project span3 design">
                        <h5>
                            <a href="/subject_m/美文">美文</a>
                            <span class="arrow-port"></span>
                        </h5>
                        
                        <a class="hover-wrap fancybox" href="/subject/美文" data-fancybox-group="gallery" title="读一篇美文">
                            <img src="assets/home/meiwen.jpg" alt="读一篇美文" />
                            <div class="overlay"></div>
                            <i class="font-icon-plus"></i>
                        </a>
                    </li>

                    <li class="item-project span3 design">
                        <h5>
                            <a href="/subject_m/感悟">感悟</a>
                            <span class="arrow-port"></span>
                        </h5>
                        
                        <a class="hover-wrap fancybox" href="/subject/感悟" data-fancybox-group="gallery" title="读一份感悟">
                            <img src="assets/home/ganwu.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
                            <div class="overlay"></div>
                            <i class="font-icon-plus"></i>
                        </a>
                    </li>

                    <li class="item-project span3 design">
                        <h5>
                            <a href="/subject_m/人物志">人物志</a>
                            <span class="arrow-port"></span>
                        </h5>
                        
                        <a class="hover-wrap fancybox" href="/subject/人物志" data-fancybox-group="gallery" title="读一位闪耀的人">
                            <img src="assets/home/renwuzhi.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
                            <div class="overlay"></div>
                            <i class="font-icon-plus"></i>
                        </a>
                    </li>

                    <li class="item-project span3 design">
                        <h5>
                            <a href="/subject_m/一座城">一座城</a>
                            <span class="arrow-port"></span>
                        </h5>
                        
                        <a class="hover-wrap fancybox" href="/subject/一座城" data-fancybox-group="gallery" title="懂一座城">
                            <img src="assets/home/yizuocheng.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
                            <div class="overlay"></div>
                            <i class="font-icon-plus"></i>
                        </a>
                    </li>

                    <li class="item-project span3 design">
                        <h5>
                            <a href="/subject_m/书单">书单</a>
                            <span class="arrow-port"></span>
                        </h5>
                        
                        <a class="hover-wrap fancybox" href="/subject/书单" data-fancybox-group="gallery" title="阅一本书">
                            <img src="assets/home/shudan.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
                            <div class="overlay"></div>
                            <i class="font-icon-plus"></i>
                        </a>
                    </li>
   
                </ul>
            </div>
        </div>
    </section>
    <!-- End Section Portfolio Projects -->