<!-- Start Section Title -->
<section id="title-page">
	<h2>享受阅读</h2>
    <span class="arrow"></span>
</section>
<!-- End Section Ttile -->
		
		<%= render :partial => 'shared/post_list' , :locals => { :posts => @posts } %>
		
